@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font: 62.5%/1.5 "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Segoe UI", "Arial",
        "Lucida Grande";
    min-height: 768px;
    height: 100%;
}

/*********************************************************************************************************************/
/*Макет*/

.base-block {
    position: relative;
    height: 100%;
    min-width: 1024px;
    z-index: 1;
}

.block-top {
    position: relative;
    min-height: 100%;
    background: -webkit-radial-gradient(#15333D, #0C222D);
    z-index: 2;
}

    .block-header {
        position: relative;
        padding-top: 24px;
        height: 50px;
        padding-bottom: 50px;
        z-index: 4;
    }

    .block-content {
        position: relative;
        margin-top: -124px;
        padding-top: 74px;
        padding-bottom: 52px;
        z-index: 3;
    }

        .block-content-wrapper {
            position: relative;
            padding-top: 50px;
            overflow-x: hidden;
        }

.block-bottom {
    position: relative;
    margin-top: -42px;
    height: 42px;
    z-index: 2;
}

/*********************************************************************************************************************/

.hidden-block {
    display: none;
    width: 100%;
    overflow-x: auto;
    z-index: 5;
}

.page {
    overflow-x: auto;
}

.page-content {
    margin-bottom: 60px;
    overflow-x: auto;
}