.dashboard-caption {
    position: relative;
    color: #4D6569;
    font-size: 18pt;
    text-align: left;
    margin-bottom: 35px;
}

.dashboard-video {
    float: left;
    width: 960px;
}

    .dashboard-video-block {
        margin-left: 180px;
        margin-right: 180px;
    }

    .dashboard-video-text {
        margin-top: 20px;
        font-size: 14pt;
        line-height: 32px;
        color: #ccc;
    }

.dashboard-block {
    position: relative;
    float: left;
    margin-right: 180px;
}
    .dashboard-block table {
        border-spacing: 10px;
        margin-top: -10px;
        margin-left: -10px;
    }

    .dashboard-block-small-cell {
        width: 180px;
        height: 180px;
    }

        .dashboard-block-small-cell div {
            text-align: center;
        }

    .dashboard-block-big-cell {
        width: 370px;
        height: 180px;
    }

        .dashboard-block-big-cell img {
            float: right;
            vertical-align: bottom;
        }

        .dashboard-block-big-cell span {
            margin-right: -100px;
            margin-left: 20px;
        }

.dashboard-widget {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

    .dashboard-widget span {
        font-size: 14pt;
        color: #FFFFFD;
    }