.block-footer {
    display: table;
    margin-left: 182px;
    height: 100%;
    line-height: 42px;
    color: #245E62;
}

    .block-footer a {
        text-decoration: none;
        font-size: 12pt;
        color: #245E62;
    }

    .block-footer a:hover {
        text-decoration: underline;
        color: blue;
    }

    .block-footer img {
        cursor: pointer;
        vertical-align: middle;
    }

    .block-footer span {
        height: 42px;
        padding-right: 26px;
        display: table-cell;
        float: left;
        vertical-align: middle;
    }